default/db-connector.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1784021245090,
    "description" : "",
    "identifier" : "db-connector",
    "lastModifiedTimestamp" : 1784021245090,
    "name" : "db-connector",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "flow-contents-group",
        "id" : "634a32b7-f0a3-3360-9d3f-5b61800657af",
        "name" : "data-out",
        "type" : "OUTPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0e2e5e86-d23c-3c78-9760-38758d1bfd96",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1d849340-827e-3cf6-93a2-b67610aaeadf",
        "name" : "SetDbWatermark",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "47fc66a6-6c8a-37c2-9196-f53d49f54c8b",
        "name" : "CheckForData",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1df39ace-db25-3c19-b833-d5f9c8ecedba",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "output stream" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b17bbdce-4114-3b94-82ff-7ea2a398e5f5",
        "name" : "ExecutePythonDBExtractor",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b17bbdce-4114-3b94-82ff-7ea2a398e5f5",
        "name" : "ExecutePythonDBExtractor",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "327b6fed-ef80-3b75-86ca-5dd438883bd9",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c2d846b3-4f63-30de-a5bc-8f4fecf37d80",
        "name" : "SetConfigJsonContent",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1d849340-827e-3cf6-93a2-b67610aaeadf",
        "name" : "SetDbWatermark",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6ebee9f7-788d-336c-9d06-eb7d8331653d",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "47fc66a6-6c8a-37c2-9196-f53d49f54c8b",
        "name" : "CheckForData",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c2d846b3-4f63-30de-a5bc-8f4fecf37d80",
        "name" : "SetConfigJsonContent",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "77c6e2eb-262c-38c5-baa9-8ceb231cca2c",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "flow-contents-group",
        "id" : "2d6708a7-0732-38a4-96c1-cd30a5baacab",
        "name" : "db-jobs-in",
        "type" : "INPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "flow-contents-group",
        "id" : "d3fc9e96-b2e7-3cdd-a1f7-0be86692f5a5",
        "name" : "db-error-out",
        "type" : "OUTPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "842c2d41-a975-3d0a-8c16-12bd68f91957",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "nonzero status" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b17bbdce-4114-3b94-82ff-7ea2a398e5f5",
        "name" : "ExecutePythonDBExtractor",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "flow-contents-group",
        "id" : "d3fc9e96-b2e7-3cdd-a1f7-0be86692f5a5",
        "name" : "db-error-out",
        "type" : "OUTPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8f7264d2-61ad-3887-87b3-d5e321f5557c",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "47cabcf4-f075-3b7d-bd5b-67bd291a51e7",
        "name" : "TagNoDataWarning",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "flow-contents-group",
        "id" : "d3fc9e96-b2e7-3cdd-a1f7-0be86692f5a5",
        "name" : "db-error-out",
        "type" : "OUTPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b5737639-036a-3cb1-a794-4ab9b0da7eef",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c2d846b3-4f63-30de-a5bc-8f4fecf37d80",
        "name" : "SetConfigJsonContent",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "47cabcf4-f075-3b7d-bd5b-67bd291a51e7",
        "name" : "TagNoDataWarning",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "dee2abd6-9908-36ab-baef-13c9d3084ef6",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "no-data" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "47fc66a6-6c8a-37c2-9196-f53d49f54c8b",
        "name" : "CheckForData",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ {
      "allowRemoteAccess" : false,
      "componentType" : "INPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2d6708a7-0732-38a4-96c1-cd30a5baacab",
      "name" : "db-jobs-in",
      "portFunction" : "STANDARD",
      "position" : {
        "x" : 0.0,
        "y" : 0.0
      },
      "scheduledState" : "ENABLED",
      "type" : "INPUT_PORT"
    } ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "04-DB-Connector",
    "outputPorts" : [ {
      "allowRemoteAccess" : false,
      "componentType" : "OUTPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "634a32b7-f0a3-3360-9d3f-5b61800657af",
      "name" : "data-out",
      "portFunction" : "STANDARD",
      "position" : {
        "x" : 80.0,
        "y" : 1112.0
      },
      "scheduledState" : "ENABLED",
      "type" : "OUTPUT_PORT"
    }, {
      "allowRemoteAccess" : false,
      "componentType" : "OUTPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d3fc9e96-b2e7-3cdd-a1f7-0be86692f5a5",
      "name" : "db-error-out",
      "portFunction" : "STANDARD",
      "position" : {
        "x" : -288.0,
        "y" : 432.0
      },
      "scheduledState" : "ENABLED",
      "type" : "OUTPUT_PORT"
    } ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.10.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1d849340-827e-3cf6-93a2-b67610aaeadf",
      "maxBackoffPeriod" : "10 mins",
      "name" : "SetDbWatermark",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 300.0,
        "y" : 800.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "last_sync_value" : "${now():format('yyyy-MM-dd')}",
        "Cache Value Lookup Cache Size" : "100"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "last_sync_value" : {
          "displayName" : "last_sync_value",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "last_sync_value",
          "sensitive" : false
        },
        "Cache Value Lookup Cache Size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Value Lookup Cache Size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.10.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "47cabcf4-f075-3b7d-bd5b-67bd291a51e7",
      "maxBackoffPeriod" : "10 mins",
      "name" : "TagNoDataWarning",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 200.0,
        "y" : 1100.0
      },
      "properties" : {
        "alert.severity" : "warning",
        "Store State" : "Do not store state",
        "error.message" : "No new data found for this sync window",
        "Cache Value Lookup Cache Size" : "100"
      },
      "propertyDescriptors" : {
        "alert.severity" : {
          "displayName" : "alert.severity",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "alert.severity",
          "sensitive" : false
        },
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "error.message" : {
          "displayName" : "error.message",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "error.message",
          "sensitive" : false
        },
        "Cache Value Lookup Cache Size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Value Lookup Cache Size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.10.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "47fc66a6-6c8a-37c2-9196-f53d49f54c8b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "CheckForData",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 200.0,
        "y" : 950.0
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name",
        "no-data" : "${fileSize:equals(0)}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "no-data" : {
          "displayName" : "no-data",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "no-data",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.10.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b17bbdce-4114-3b94-82ff-7ea2a398e5f5",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ExecutePythonDBExtractor",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 0.0,
        "y" : 800.0
      },
      "properties" : {
        "Max Attribute Length" : "256",
        "Command Arguments Strategy" : "Command Arguments Property",
        "Command Path" : "python3",
        "Argument Delimiter" : ";",
        "Ignore STDIN" : "false",
        "Command Arguments" : "/opt/nifi/scripts/db_extractor.py"
      },
      "propertyDescriptors" : {
        "Max Attribute Length" : {
          "displayName" : "Max Attribute Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Attribute Length",
          "sensitive" : false
        },
        "Command Arguments Strategy" : {
          "displayName" : "Command Arguments Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Command Arguments Strategy",
          "sensitive" : false
        },
        "Output MIME Type" : {
          "displayName" : "Output MIME Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output MIME Type",
          "sensitive" : false
        },
        "Working Directory" : {
          "displayName" : "Working Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Working Directory",
          "sensitive" : false
        },
        "Command Path" : {
          "displayName" : "Command Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Command Path",
          "sensitive" : false
        },
        "Output Destination Attribute" : {
          "displayName" : "Output Destination Attribute",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Destination Attribute",
          "sensitive" : false
        },
        "Argument Delimiter" : {
          "displayName" : "Argument Delimiter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Argument Delimiter",
          "sensitive" : false
        },
        "Ignore STDIN" : {
          "displayName" : "Ignore STDIN",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore STDIN",
          "sensitive" : false
        },
        "Command Arguments" : {
          "displayName" : "Command Arguments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Command Arguments",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.10.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c2d846b3-4f63-30de-a5bc-8f4fecf37d80",
      "maxBackoffPeriod" : "10 mins",
      "name" : "SetConfigJsonContent",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 536.0,
        "y" : 400.0
      },
      "properties" : {
        "Replacement Value" : "{\"job_id\": ${job_id}, ${config_json:substring(1)}",
        "Search Value" : "(?s)(^.*$)",
        "Evaluation Mode" : "Line-by-Line",
        "Line-by-Line Evaluation Mode" : "All",
        "Character Set" : "UTF-8",
        "Maximum Buffer Size" : "1 MB",
        "Replacement Strategy" : "Always Replace"
      },
      "propertyDescriptors" : {
        "Replacement Value" : {
          "displayName" : "Replacement Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Value",
          "sensitive" : false
        },
        "Search Value" : {
          "displayName" : "Search Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Search Value",
          "sensitive" : false
        },
        "Evaluation Mode" : {
          "displayName" : "Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Evaluation Mode",
          "sensitive" : false
        },
        "Text to Prepend" : {
          "displayName" : "Text to Prepend",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Prepend",
          "sensitive" : false
        },
        "Line-by-Line Evaluation Mode" : {
          "displayName" : "Line-by-Line Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Line-by-Line Evaluation Mode",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Maximum Buffer Size" : {
          "displayName" : "Maximum Buffer Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Buffer Size",
          "sensitive" : false
        },
        "Replacement Strategy" : {
          "displayName" : "Replacement Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Strategy",
          "sensitive" : false
        },
        "Text to Append" : {
          "displayName" : "Text to Append",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Append",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ReplaceText",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "db-connector",
    "timestamp" : 1784788076875
  }
}