default/discord-summary.json
{
  "externalControllerServices" : {
    "5bcd7709-d769-3743-ae09-99bcfb8407c8" : {
      "identifier" : "5bcd7709-d769-3743-ae09-99bcfb8407c8",
      "name" : "JsonRecordSetWriter"
    },
    "f8fe6515-589a-36d7-9cdd-2c3cd1bb0209" : {
      "identifier" : "f8fe6515-589a-36d7-9cdd-2c3cd1bb0209",
      "name" : "DBCPConnectionPool"
    },
    "f3b1b3b3-42d1-3654-9824-138679a99f59" : {
      "identifier" : "f3b1b3b3-42d1-3654-9824-138679a99f59",
      "name" : "AvroReader"
    }
  },
  "flow" : {
    "createdTimestamp" : 1784788173258,
    "description" : "discord summary",
    "identifier" : "discord-summary",
    "lastModifiedTimestamp" : 1784788173258,
    "name" : "discord summary",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f0704c7b-3ce7-3a7c-984f-6ad5627c713c",
        "name" : "QuerySyncSummary",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0245c6b7-9f3f-3cc8-b5c6-f9156fe649a8",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "all_tenants_done" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5a269b73-fdbf-332b-bbff-25e3d2e6306b",
        "name" : "RouteIfAllDone",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7087588e-ff6f-3d9a-adc2-e865cc71cb62",
        "name" : "FormatDiscordMessage",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "07a6adbf-4393-355e-9018-b3e37caa714f",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f0704c7b-3ce7-3a7c-984f-6ad5627c713c",
        "name" : "QuerySyncSummary",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5a269b73-fdbf-332b-bbff-25e3d2e6306b",
        "name" : "RouteIfAllDone",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "16651529-5af2-3cff-9b50-e88a52cddf7e",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1550365b-8eb0-301e-bdc2-21b7771201f6",
        "name" : "ExtractAllDoneFlag",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b037a96b-7f4e-3a56-85cc-e1a13681a2a8",
        "name" : "ConvertCheckToJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "68188992-5360-3616-af62-b745f323c03f",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "66951cbd-13d3-39a4-a4f2-fdfc02e1fe1b",
        "name" : "CheckAllTenantsComplete",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1550365b-8eb0-301e-bdc2-21b7771201f6",
        "name" : "ExtractAllDoneFlag",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "780d3164-2b79-35de-8d75-450df85534a9",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b037a96b-7f4e-3a56-85cc-e1a13681a2a8",
        "name" : "ConvertCheckToJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "66951cbd-13d3-39a4-a4f2-fdfc02e1fe1b",
        "name" : "CheckAllTenantsComplete",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "91d37901-6709-3789-91d5-17f9966e8a5b",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "flow-contents-group",
        "id" : "a2285f46-4d64-3b40-83b4-2286f6e496c9",
        "name" : "upload-complete-in",
        "type" : "INPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d8708ba3-f936-3159-b95a-bf693b53bc76",
        "name" : "PostToDiscord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "969ab2bd-c6e1-36d3-a297-401087911807",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7087588e-ff6f-3d9a-adc2-e865cc71cb62",
        "name" : "FormatDiscordMessage",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : {
      "5bcd7709-d769-3743-ae09-99bcfb8407c8" : {
        "identifier" : "5bcd7709-d769-3743-ae09-99bcfb8407c8",
        "name" : "JsonRecordSetWriter"
      },
      "f8fe6515-589a-36d7-9cdd-2c3cd1bb0209" : {
        "identifier" : "f8fe6515-589a-36d7-9cdd-2c3cd1bb0209",
        "name" : "DBCPConnectionPool"
      },
      "f3b1b3b3-42d1-3654-9824-138679a99f59" : {
        "identifier" : "f3b1b3b3-42d1-3654-9824-138679a99f59",
        "name" : "AvroReader"
      }
    },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ {
      "allowRemoteAccess" : false,
      "componentType" : "INPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a2285f46-4d64-3b40-83b4-2286f6e496c9",
      "name" : "upload-complete-in",
      "portFunction" : "STANDARD",
      "position" : {
        "x" : 0.0,
        "y" : 0.0
      },
      "scheduledState" : "ENABLED",
      "type" : "INPUT_PORT"
    } ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "10-Daily-Summary-Alert",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.10.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1550365b-8eb0-301e-bdc2-21b7771201f6",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ExtractAllDoneFlag",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 500.0,
        "y" : 600.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "Max String Length" : "20 MB",
        "Return Type" : "scalar",
        "all_done" : "$[0].all_done",
        "Null Value Representation" : "empty string",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "all_done" : {
          "displayName" : "all_done",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "all_done",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.10.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5a269b73-fdbf-332b-bbff-25e3d2e6306b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "RouteIfAllDone",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 0.0,
        "y" : 800.0
      },
      "properties" : {
        "all_tenants_done" : "${all_done:equals('true')}",
        "Routing Strategy" : "Route to Property name"
      },
      "propertyDescriptors" : {
        "all_tenants_done" : {
          "displayName" : "all_tenants_done",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "all_tenants_done",
          "sensitive" : false
        },
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.10.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "66951cbd-13d3-39a4-a4f2-fdfc02e1fe1b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "CheckAllTenantsComplete",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 500.0,
        "y" : 200.0
      },
      "properties" : {
        "Set Auto Commit" : "true",
        "Max Wait Time" : "0 seconds",
        "SQL Query" : "SELECT\n  (SELECT COUNT(*) FROM public.upload_configs WHERE enabled = TRUE) AS total_configs,\n  (SELECT COUNT(DISTINCT config_id) FROM public.sync_tracking WHERE DATE(sync_start_time) = CURRENT_DATE) AS completed_today,\n  CASE\n    WHEN (\n      SELECT COUNT(*) FROM public.upload_configs WHERE enabled = TRUE\n    ) = (\n      SELECT COUNT(DISTINCT config_id) FROM public.sync_tracking WHERE DATE(sync_start_time) = CURRENT_DATE\n    ) THEN 'true' ELSE 'false'\n  END AS all_done;",
        "Database Connection Pooling Service" : "f8fe6515-589a-36d7-9cdd-2c3cd1bb0209",
        "Default Decimal Scale" : "0",
        "Fetch Size" : "0",
        "Output Batch Size" : "0",
        "Use Avro Logical Types" : "false",
        "Compression Format" : "NONE",
        "Normalize Table and Column Names" : "false",
        "Default Decimal Precision" : "10",
        "Max Rows Per FlowFile" : "0",
        "Content Output Strategy" : "EMPTY"
      },
      "propertyDescriptors" : {
        "Set Auto Commit" : {
          "displayName" : "Set Auto Commit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Set Auto Commit",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "SQL Query" : {
          "displayName" : "SQL Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Query",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "Default Decimal Scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Default Decimal Scale",
          "sensitive" : false
        },
        "SQL Post-Query" : {
          "displayName" : "SQL Post-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Post-Query",
          "sensitive" : false
        },
        "Fetch Size" : {
          "displayName" : "Fetch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Fetch Size",
          "sensitive" : false
        },
        "Output Batch Size" : {
          "displayName" : "Output Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Batch Size",
          "sensitive" : false
        },
        "Use Avro Logical Types" : {
          "displayName" : "Use Avro Logical Types",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Avro Logical Types",
          "sensitive" : false
        },
        "Compression Format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Format",
          "sensitive" : false
        },
        "Normalize Table and Column Names" : {
          "displayName" : "Normalize Table and Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Normalize Table and Column Names",
          "sensitive" : false
        },
        "SQL Pre-Query" : {
          "displayName" : "SQL Pre-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Pre-Query",
          "sensitive" : false
        },
        "Default Decimal Precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Default Decimal Precision",
          "sensitive" : false
        },
        "Max Rows Per FlowFile" : {
          "displayName" : "Max Rows Per FlowFile",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Rows Per FlowFile",
          "sensitive" : false
        },
        "Content Output Strategy" : {
          "displayName" : "Content Output Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Output Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-scripting-nar",
        "group" : "org.apache.nifi",
        "version" : "2.10.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7087588e-ff6f-3d9a-adc2-e865cc71cb62",
      "maxBackoffPeriod" : "10 mins",
      "name" : "FormatDiscordMessage",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -48.0,
        "y" : 1192.0
      },
      "properties" : {
        "Script Engine" : "Groovy",
        "Script Body" : "import groovy.json.JsonOutput\nimport org.apache.avro.file.DataFileStream\nimport org.apache.avro.generic.GenericDatumReader\nimport org.apache.avro.generic.GenericRecord\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    def reportDate = new Date().format('yyyy-MM-dd', TimeZone.getTimeZone('Asia/Kolkata'))\n    def totalSuccess = 0\n    def totalFailure = 0\n    def rowCount = 0\n\n    flowFile = session.write(flowFile, { rawIn, rawOut ->\n        def reader = new DataFileStream<GenericRecord>(rawIn, new GenericDatumReader<GenericRecord>())\n        def rows = []\n        def schema = reader.schema\n        while (reader.hasNext()) {\n            def record = reader.next()\n            def row = [:]\n            schema.fields.each { field ->\n                row[field.name()] = record.get(field.name())\n            }\n            rows << row\n        }\n        reader.close()\n        rowCount = rows.size()\n\n        def byTenant = rows.groupBy { it['tenant'] ?: 'Unknown' }\n\n        def lines = []\n        lines << \"Daily ETL Sync Report | ${reportDate}\"\n        lines << ('=' * 40)\n\n        byTenant.each { tenant, tenantRows ->\n            def buId = tenantRows[0]['bu_id'] ?: ''\n            lines << \"\"\n            lines << \"Tenant: ${tenant} (BU: ${buId})\"\n            tenantRows.each { row ->\n                def uploadType = row['upload_type'] ?: ''\n                def success = (row['success_count'] ?: 0) as int\n                def failure = (row['failure_count'] ?: 0) as int\n                totalSuccess += success\n                totalFailure += failure\n                def tag = \"[${uploadType}]\".padRight(12)\n                def succ = \"Success: ${success}\".padRight(15)\n                lines << \"  ${tag}${succ}Failed: ${failure}\"\n            }\n        }\n\n        lines << ('-' * 40)\n        lines << \"TOTAL: ${totalSuccess} Success | ${totalFailure} Failed (across ${rowCount} jobs)\"\n\n        def reportText = lines.join('\\n')\n        def overallEmoji = totalFailure > 0 ? '⚠️' : '✅'\n        def fence = '```'\n\n        def payload = JsonOutput.toJson([\n            content: \"${overallEmoji} ${fence}\\n${reportText}\\n${fence}\"\n        ])\n        rawOut.write(payload.bytes)\n    } as StreamCallback)\n\n    flowFile = session.putAttribute(flowFile, 'mime.type', 'application/json')\n    session.transfer(flowFile, REL_SUCCESS)\n} catch (Exception e) {\n    log.error('FormatDiscordMessage failed', e)\n    session.transfer(flowFile, REL_FAILURE)\n}"
      },
      "propertyDescriptors" : {
        "Script File" : {
          "displayName" : "Script File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Script Engine" : {
          "displayName" : "Script Engine",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script Engine",
          "sensitive" : false
        },
        "Script Body" : {
          "displayName" : "Script Body",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script Body",
          "sensitive" : false
        },
        "Module Directory" : {
          "displayName" : "Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.script.ExecuteScript",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.10.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b037a96b-7f4e-3a56-85cc-e1a13681a2a8",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ConvertCheckToJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 0.0,
        "y" : 400.0
      },
      "properties" : {
        "Include Zero Record FlowFiles" : "false",
        "Record Writer" : "5bcd7709-d769-3743-ae09-99bcfb8407c8",
        "Record Reader" : "f3b1b3b3-42d1-3654-9824-138679a99f59"
      },
      "propertyDescriptors" : {
        "Include Zero Record FlowFiles" : {
          "displayName" : "Include Zero Record FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Zero Record FlowFiles",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ConvertRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "Failure", "No Retry", "Original", "Response", "Retry" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.10.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d8708ba3-f936-3159-b95a-bf693b53bc76",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PostToDiscord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 500.0,
        "y" : 1400.0
      },
      "properties" : {
        "Request Content-Encoding" : "DISABLED",
        "Request Multipart Form-Data Filename Enabled" : "true",
        "Request Chunked Transfer-Encoding Enabled" : "false",
        "HTTP/2 Disabled" : "False",
        "Connection Timeout" : "10 secs",
        "Response Cookie Strategy" : "DISABLED",
        "Socket Read Timeout" : "15 secs",
        "Socket Idle Connections" : "5",
        "Request Body Enabled" : "true",
        "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
        "HTTP URL" : "https://discord.com/api/webhooks/1527575925170896906/8bwtHttwvGWo-UB3M8ES6uNCrbJKj1Kyi8TC54sNTHtZEGHsrwUm0UcqmAEUuxrHdmFK",
        "Socket Idle Timeout" : "5 mins",
        "Response Redirects Enabled" : "True",
        "Socket Write Timeout" : "15 secs",
        "Response FlowFile Naming Strategy" : "RANDOM",
        "Response Cache Enabled" : "false",
        "Request Date Header Enabled" : "True",
        "Request Failure Penalization Enabled" : "false",
        "Response Body Attribute Size" : "256",
        "Response Generation Required" : "false",
        "Response Header Request Attributes Enabled" : "false",
        "HTTP Method" : "POST",
        "Request Content-Type" : "application/json",
        "Request Digest Authentication Enabled" : "false",
        "Response Cache Size" : "10MB",
        "Response Body Ignored" : "true"
      },
      "propertyDescriptors" : {
        "Request Content-Encoding" : {
          "displayName" : "Request Content-Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Encoding",
          "sensitive" : false
        },
        "Request Multipart Form-Data Filename Enabled" : {
          "displayName" : "Request Multipart Form-Data Filename Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Filename Enabled",
          "sensitive" : false
        },
        "Request Chunked Transfer-Encoding Enabled" : {
          "displayName" : "Request Chunked Transfer-Encoding Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Chunked Transfer-Encoding Enabled",
          "sensitive" : false
        },
        "Response Header Request Attributes Prefix" : {
          "displayName" : "Response Header Request Attributes Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Prefix",
          "sensitive" : false
        },
        "Proxy Configuration Service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Proxy Configuration Service",
          "sensitive" : false
        },
        "HTTP/2 Disabled" : {
          "displayName" : "HTTP/2 Disabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP/2 Disabled",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Response Cookie Strategy" : {
          "displayName" : "Response Cookie Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cookie Strategy",
          "sensitive" : false
        },
        "Request Password" : {
          "displayName" : "Request Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Password",
          "sensitive" : true
        },
        "Socket Read Timeout" : {
          "displayName" : "Socket Read Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Read Timeout",
          "sensitive" : false
        },
        "Socket Idle Connections" : {
          "displayName" : "Socket Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Connections",
          "sensitive" : false
        },
        "Request Body Enabled" : {
          "displayName" : "Request Body Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Body Enabled",
          "sensitive" : false
        },
        "OAuth2 Access Token Refresh Strategy" : {
          "displayName" : "OAuth2 Access Token Refresh Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "OAuth2 Access Token Refresh Strategy",
          "sensitive" : false
        },
        "HTTP URL" : {
          "displayName" : "HTTP URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP URL",
          "sensitive" : false
        },
        "Request OAuth2 Access Token Provider" : {
          "displayName" : "Request OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Request OAuth2 Access Token Provider",
          "sensitive" : false
        },
        "Socket Idle Timeout" : {
          "displayName" : "Socket Idle Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Timeout",
          "sensitive" : false
        },
        "Response Redirects Enabled" : {
          "displayName" : "Response Redirects Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Redirects Enabled",
          "sensitive" : false
        },
        "Socket Write Timeout" : {
          "displayName" : "Socket Write Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Write Timeout",
          "sensitive" : false
        },
        "Request Header Attributes Pattern" : {
          "displayName" : "Request Header Attributes Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Header Attributes Pattern",
          "sensitive" : false
        },
        "Response FlowFile Naming Strategy" : {
          "displayName" : "Response FlowFile Naming Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response FlowFile Naming Strategy",
          "sensitive" : false
        },
        "Response Cache Enabled" : {
          "displayName" : "Response Cache Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Enabled",
          "sensitive" : false
        },
        "Request Date Header Enabled" : {
          "displayName" : "Request Date Header Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Date Header Enabled",
          "sensitive" : false
        },
        "Request Failure Penalization Enabled" : {
          "displayName" : "Request Failure Penalization Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Failure Penalization Enabled",
          "sensitive" : false
        },
        "Response Body Attribute Size" : {
          "displayName" : "Response Body Attribute Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Response Generation Required" : {
          "displayName" : "Response Generation Required",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Generation Required",
          "sensitive" : false
        },
        "Request User-Agent" : {
          "displayName" : "Request User-Agent",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request User-Agent",
          "sensitive" : false
        },
        "Response Header Request Attributes Enabled" : {
          "displayName" : "Response Header Request Attributes Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Enabled",
          "sensitive" : false
        },
        "HTTP Method" : {
          "displayName" : "HTTP Method",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP Method",
          "sensitive" : false
        },
        "Request Username" : {
          "displayName" : "Request Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Username",
          "sensitive" : false
        },
        "Request Content-Type" : {
          "displayName" : "Request Content-Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Type",
          "sensitive" : false
        },
        "Response Body Attribute Name" : {
          "displayName" : "Response Body Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Name",
          "sensitive" : false
        },
        "Request Digest Authentication Enabled" : {
          "displayName" : "Request Digest Authentication Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Digest Authentication Enabled",
          "sensitive" : false
        },
        "Request Multipart Form-Data Name" : {
          "displayName" : "Request Multipart Form-Data Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Name",
          "sensitive" : false
        },
        "Response Cache Size" : {
          "displayName" : "Response Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Size",
          "sensitive" : false
        },
        "Response Body Ignored" : {
          "displayName" : "Response Body Ignored",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Ignored",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.10.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f0704c7b-3ce7-3a7c-984f-6ad5627c713c",
      "maxBackoffPeriod" : "10 mins",
      "name" : "QuerySyncSummary",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 500.0,
        "y" : 1000.0
      },
      "properties" : {
        "Set Auto Commit" : "true",
        "Max Wait Time" : "0 seconds",
        "SQL Query" : "SELECT\n  COALESCE(uc.tenant_id::text, st.tenant_id::text) AS tenant,\n  COALESCE(uc.bu_id::text, st.bu_id::text) AS bu_id,\n  st.upload_type,\n  COUNT(*) FILTER (WHERE st.status = 'SUCCESS') AS success_count,\n  COUNT(*) FILTER (WHERE st.status = 'FAILURE') AS failure_count,\n  COUNT(*) AS total\nFROM public.sync_tracking st\nLEFT JOIN public.upload_configs uc ON uc.id = st.config_id\nWHERE DATE(st.sync_start_time) = CURRENT_DATE\nGROUP BY 1, 2, 3\nORDER BY 1, 2, 3;",
        "Database Connection Pooling Service" : "f8fe6515-589a-36d7-9cdd-2c3cd1bb0209",
        "Default Decimal Scale" : "0",
        "Fetch Size" : "0",
        "Output Batch Size" : "0",
        "Use Avro Logical Types" : "false",
        "Compression Format" : "NONE",
        "Normalize Table and Column Names" : "false",
        "Default Decimal Precision" : "10",
        "Max Rows Per FlowFile" : "0",
        "Content Output Strategy" : "EMPTY"
      },
      "propertyDescriptors" : {
        "Set Auto Commit" : {
          "displayName" : "Set Auto Commit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Set Auto Commit",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "SQL Query" : {
          "displayName" : "SQL Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Query",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "Default Decimal Scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Default Decimal Scale",
          "sensitive" : false
        },
        "SQL Post-Query" : {
          "displayName" : "SQL Post-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Post-Query",
          "sensitive" : false
        },
        "Fetch Size" : {
          "displayName" : "Fetch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Fetch Size",
          "sensitive" : false
        },
        "Output Batch Size" : {
          "displayName" : "Output Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Batch Size",
          "sensitive" : false
        },
        "Use Avro Logical Types" : {
          "displayName" : "Use Avro Logical Types",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Avro Logical Types",
          "sensitive" : false
        },
        "Compression Format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Format",
          "sensitive" : false
        },
        "Normalize Table and Column Names" : {
          "displayName" : "Normalize Table and Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Normalize Table and Column Names",
          "sensitive" : false
        },
        "SQL Pre-Query" : {
          "displayName" : "SQL Pre-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Pre-Query",
          "sensitive" : false
        },
        "Default Decimal Precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Default Decimal Precision",
          "sensitive" : false
        },
        "Max Rows Per FlowFile" : {
          "displayName" : "Max Rows Per FlowFile",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Rows Per FlowFile",
          "sensitive" : false
        },
        "Content Output Strategy" : {
          "displayName" : "Content Output Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Output Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "discord-summary",
    "timestamp" : 1784788174322
  }
}