default/sftp-connector.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1784021219771,
    "description" : "",
    "identifier" : "sftp-connector",
    "lastModifiedTimestamp" : 1784021219771,
    "name" : "sftp-connector",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "flow-contents-group",
        "id" : "3608f69e-13be-3d0b-987f-1c296a8514df",
        "name" : "sftp-error-out",
        "type" : "OUTPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1a0116c2-5e5e-3690-b76a-35c238ee12a3",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "56d860f3-e463-3197-8523-5f6b9420d03f",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ce33cec8-9c97-342b-9891-7d9ae0f82d3a",
        "name" : "ListSFTPFiles",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2ed13fca-4d48-3f16-9ad7-716aa4142502",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f31f0638-2468-3e0c-a533-938122575ea5",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "56d860f3-e463-3197-8523-5f6b9420d03f",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4c3e6b51-d67b-3e18-b099-75c7c873b5a1",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "92de5957-114c-3f88-b6cc-8ed98330f08e",
        "name" : "AttributesToJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "flow-contents-group",
        "id" : "3608f69e-13be-3d0b-987f-1c296a8514df",
        "name" : "sftp-error-out",
        "type" : "OUTPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "52fb82b5-da54-32e5-a96a-f1150a9489c1",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "comms.failure", "not.found", "permission.denied" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "52d309a9-86b9-387c-94ba-4c5046450eec",
        "name" : "FetchSFTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "92de5957-114c-3f88-b6cc-8ed98330f08e",
        "name" : "AttributesToJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "53e51c0f-a1b0-314b-93bf-ebc77de893c1",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "flow-contents-group",
        "id" : "283d1a15-de8f-3576-86c1-367a47556a91",
        "name" : "sftp-jobs-in",
        "type" : "INPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "flow-contents-group",
        "id" : "3ee30547-ef44-3d7e-84b1-eb42a9a70329",
        "name" : "files-out",
        "type" : "OUTPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "84303d27-830f-3aff-ae48-bfb5c4da949d",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "52d309a9-86b9-387c-94ba-4c5046450eec",
        "name" : "FetchSFTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "flow-contents-group",
        "id" : "3608f69e-13be-3d0b-987f-1c296a8514df",
        "name" : "sftp-error-out",
        "type" : "OUTPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a75d5792-4dea-32a8-abfc-d1903f9bab3f",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "nonzero status" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ce33cec8-9c97-342b-9891-7d9ae0f82d3a",
        "name" : "ListSFTPFiles",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "flow-contents-group",
        "id" : "3608f69e-13be-3d0b-987f-1c296a8514df",
        "name" : "sftp-error-out",
        "type" : "OUTPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b15fc5a5-6656-3cac-9fc1-a679c8105243",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "92de5957-114c-3f88-b6cc-8ed98330f08e",
        "name" : "AttributesToJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "52d309a9-86b9-387c-94ba-4c5046450eec",
        "name" : "FetchSFTP",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c7e85445-ec31-3799-92fa-636f247fbd47",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "output stream" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ce33cec8-9c97-342b-9891-7d9ae0f82d3a",
        "name" : "ListSFTPFiles",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f31f0638-2468-3e0c-a533-938122575ea5",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d1d7ec8b-91fe-3a21-b96e-f7f0fd4c24a3",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "56d860f3-e463-3197-8523-5f6b9420d03f",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ {
      "allowRemoteAccess" : false,
      "componentType" : "INPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "283d1a15-de8f-3576-86c1-367a47556a91",
      "name" : "sftp-jobs-in",
      "portFunction" : "STANDARD",
      "position" : {
        "x" : 0.0,
        "y" : 0.0
      },
      "scheduledState" : "ENABLED",
      "type" : "INPUT_PORT"
    } ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "03-SFTP-Connector",
    "outputPorts" : [ {
      "allowRemoteAccess" : false,
      "componentType" : "OUTPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3608f69e-13be-3d0b-987f-1c296a8514df",
      "name" : "sftp-error-out",
      "portFunction" : "STANDARD",
      "position" : {
        "x" : 0.0,
        "y" : 0.0
      },
      "scheduledState" : "ENABLED",
      "type" : "OUTPUT_PORT"
    }, {
      "allowRemoteAccess" : false,
      "componentType" : "OUTPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3ee30547-ef44-3d7e-84b1-eb42a9a70329",
      "name" : "files-out",
      "portFunction" : "STANDARD",
      "position" : {
        "x" : -88.0,
        "y" : -272.0
      },
      "scheduledState" : "ENABLED",
      "type" : "OUTPUT_PORT"
    } ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.10.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "52d309a9-86b9-387c-94ba-4c5046450eec",
      "maxBackoffPeriod" : "10 mins",
      "name" : "FetchSFTP",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1448.0,
        "y" : -128.0
      },
      "properties" : {
        "Port" : "22",
        "Remote File" : "${path}/${filename}",
        "Log Level When File Not Found" : "ERROR",
        "Hostname" : "${sftp_host}",
        "Create Directory" : "false",
        "Use Compression" : "false",
        "Disable Directory Listing" : "false",
        "Send Keep Alive On Timeout" : "true",
        "Completion Strategy" : "None",
        "Connection Timeout" : "30 sec",
        "Data Timeout" : "30 sec",
        "Username" : "DUMMY_ASK_ME",
        "Algorithm Negotiation" : "DEFAULT",
        "Strict Host Key Checking" : "false"
      },
      "propertyDescriptors" : {
        "Port" : {
          "displayName" : "Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Port",
          "sensitive" : false
        },
        "Remote File" : {
          "displayName" : "Remote File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Remote File",
          "sensitive" : false
        },
        "Log Level When File Not Found" : {
          "displayName" : "Log Level When File Not Found",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level When File Not Found",
          "sensitive" : false
        },
        "Hostname" : {
          "displayName" : "Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Hostname",
          "sensitive" : false
        },
        "Create Directory" : {
          "displayName" : "Create Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Directory",
          "sensitive" : false
        },
        "Host Key File" : {
          "displayName" : "Host Key File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Host Key File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Use Compression" : {
          "displayName" : "Use Compression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Compression",
          "sensitive" : false
        },
        "Ciphers Allowed" : {
          "displayName" : "Ciphers Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ciphers Allowed",
          "sensitive" : false
        },
        "Message Authentication Codes Allowed" : {
          "displayName" : "Message Authentication Codes Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message Authentication Codes Allowed",
          "sensitive" : false
        },
        "Disable Directory Listing" : {
          "displayName" : "Disable Directory Listing",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Disable Directory Listing",
          "sensitive" : false
        },
        "Send Keep Alive On Timeout" : {
          "displayName" : "Send Keep Alive On Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Send Keep Alive On Timeout",
          "sensitive" : false
        },
        "Completion Strategy" : {
          "displayName" : "Completion Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Completion Strategy",
          "sensitive" : false
        },
        "Private Key Passphrase" : {
          "displayName" : "Private Key Passphrase",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Passphrase",
          "sensitive" : true
        },
        "Proxy Configuration Service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Proxy Configuration Service",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Data Timeout" : {
          "displayName" : "Data Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Timeout",
          "sensitive" : false
        },
        "Private Key Path" : {
          "displayName" : "Private Key Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Path",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "Move Destination Directory" : {
          "displayName" : "Move Destination Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Destination Directory",
          "sensitive" : false
        },
        "Algorithm Negotiation" : {
          "displayName" : "Algorithm Negotiation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Algorithm Negotiation",
          "sensitive" : false
        },
        "Key Exchange Algorithms Allowed" : {
          "displayName" : "Key Exchange Algorithms Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Exchange Algorithms Allowed",
          "sensitive" : false
        },
        "Strict Host Key Checking" : {
          "displayName" : "Strict Host Key Checking",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Strict Host Key Checking",
          "sensitive" : false
        },
        "Key Algorithms Allowed" : {
          "displayName" : "Key Algorithms Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Algorithms Allowed",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.FetchSFTP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.10.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "56d860f3-e463-3197-8523-5f6b9420d03f",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 192.0,
        "y" : 336.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "upload_folder" : "$.upload_folder",
        "file_pattern" : "$.file_pattern",
        "Max String Length" : "20 MB",
        "Return Type" : "auto-detect",
        "tenant_folder" : "$.tenant_folder",
        "Null Value Representation" : "empty string",
        "sftp_host" : "$.host",
        "root_directory" : "$.root_directory",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "upload_folder" : {
          "displayName" : "upload_folder",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "upload_folder",
          "sensitive" : false
        },
        "file_pattern" : {
          "displayName" : "file_pattern",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "file_pattern",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "tenant_folder" : {
          "displayName" : "tenant_folder",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "tenant_folder",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "sftp_host" : {
          "displayName" : "sftp_host",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "sftp_host",
          "sensitive" : false
        },
        "root_directory" : {
          "displayName" : "root_directory",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "root_directory",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.10.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "92de5957-114c-3f88-b6cc-8ed98330f08e",
      "maxBackoffPeriod" : "10 mins",
      "name" : "AttributesToJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -584.0,
        "y" : 160.0
      },
      "properties" : {
        "Destination" : "flowfile-content",
        "Null Value" : "false",
        "Attributes List" : "config_json",
        "Pretty Print" : "false",
        "Include Core Attributes" : "false",
        "JSON Handling Strategy" : "ESCAPED"
      },
      "propertyDescriptors" : {
        "Attributes Regular Expression" : {
          "displayName" : "Attributes Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes Regular Expression",
          "sensitive" : false
        },
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Null Value" : {
          "displayName" : "Null Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value",
          "sensitive" : false
        },
        "Attributes List" : {
          "displayName" : "Attributes List",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes List",
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Include Core Attributes" : {
          "displayName" : "Include Core Attributes",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Core Attributes",
          "sensitive" : false
        },
        "JSON Handling Strategy" : {
          "displayName" : "JSON Handling Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Handling Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.10.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ce33cec8-9c97-342b-9891-7d9ae0f82d3a",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ListSFTPFiles",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1216.0,
        "y" : 160.0
      },
      "properties" : {
        "SFTP_PORT" : "22",
        "Command Arguments Strategy" : "Command Arguments Property",
        "Command Path" : "python3",
        "Argument Delimiter" : ";",
        "Ignore STDIN" : "false",
        "Command Arguments" : "/opt/scripts/list_sftp_files.py",
        "BU_ID" : "${bu_id}",
        "SFTP_USER" : "${sftp_user}",
        "FILE_PATTERN" : "${file_pattern}",
        "SFTP_PASS" : "${sftp_pass}",
        "Max Attribute Length" : "256",
        "REMOTE_PATH" : "${remote_path}",
        "SFTP_HOST" : "${sftp_host}",
        "TENANT_ID" : "${tenant_id}"
      },
      "propertyDescriptors" : {
        "SFTP_PORT" : {
          "displayName" : "SFTP_PORT",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "SFTP_PORT",
          "sensitive" : false
        },
        "Command Arguments Strategy" : {
          "displayName" : "Command Arguments Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Command Arguments Strategy",
          "sensitive" : false
        },
        "Working Directory" : {
          "displayName" : "Working Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Working Directory",
          "sensitive" : false
        },
        "Command Path" : {
          "displayName" : "Command Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Command Path",
          "sensitive" : false
        },
        "Argument Delimiter" : {
          "displayName" : "Argument Delimiter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Argument Delimiter",
          "sensitive" : false
        },
        "Ignore STDIN" : {
          "displayName" : "Ignore STDIN",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore STDIN",
          "sensitive" : false
        },
        "Command Arguments" : {
          "displayName" : "Command Arguments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Command Arguments",
          "sensitive" : false
        },
        "BU_ID" : {
          "displayName" : "BU_ID",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "BU_ID",
          "sensitive" : false
        },
        "SFTP_USER" : {
          "displayName" : "SFTP_USER",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "SFTP_USER",
          "sensitive" : false
        },
        "FILE_PATTERN" : {
          "displayName" : "FILE_PATTERN",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "FILE_PATTERN",
          "sensitive" : false
        },
        "SFTP_PASS" : {
          "displayName" : "SFTP_PASS",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "SFTP_PASS",
          "sensitive" : false
        },
        "Max Attribute Length" : {
          "displayName" : "Max Attribute Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Attribute Length",
          "sensitive" : false
        },
        "Output MIME Type" : {
          "displayName" : "Output MIME Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output MIME Type",
          "sensitive" : false
        },
        "REMOTE_PATH" : {
          "displayName" : "REMOTE_PATH",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "REMOTE_PATH",
          "sensitive" : false
        },
        "SFTP_HOST" : {
          "displayName" : "SFTP_HOST",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "SFTP_HOST",
          "sensitive" : false
        },
        "Output Destination Attribute" : {
          "displayName" : "Output Destination Attribute",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Destination Attribute",
          "sensitive" : false
        },
        "TENANT_ID" : {
          "displayName" : "TENANT_ID",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "TENANT_ID",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.10.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f31f0638-2468-3e0c-a533-938122575ea5",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 928.0,
        "y" : 376.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "Cache Value Lookup Cache Size" : "100",
        "remote_path" : "${root_directory}/${tenant_folder}/${upload_folder}",
        "file_regex" : "${file_pattern:replace('.', '\\.'):replace('*', '.*')}"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "Cache Value Lookup Cache Size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Value Lookup Cache Size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        },
        "remote_path" : {
          "displayName" : "remote_path",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "remote_path",
          "sensitive" : false
        },
        "file_regex" : {
          "displayName" : "file_regex",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "file_regex",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "sftp-connector",
    "timestamp" : 1784021220860
  }
}